# Datos
data/raw/
data/processed/
data/external/

# Modelos
models/*.pkl
models/*.joblib

# Base de datos
*.db
*.sqlite

# Entornos virtuales
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos de entorno
.env
